.app{
    display: block;
    margin-right: 0 auto;
    margin-left: 0 auto;
    align-items: center;
    justify-content: center;
    text-align:center;
}
.header-div{
    background: rgb(50, 47, 79);
    margin: 0 auto;
    padding: 10px 5px;
    color: whitesmoke;
    text-align: center;
}
ul{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    justify-content: space-between;
    padding-inline-start: 5px;
}

li{
    font-size: 1em;
    padding: 5px 5px;
    margin: 3px 3px;
}
.assignment-li{
    color:cyan;
    font: 1.8em monospace ;
    font-weight: 600;
}

